/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	/* Configure the partition manager to use the mx25r64 external flash memory. */
	chosen {
		/delete-property/ zephyr,ipc_shm;
		nordic,pm-ext-flash = &mx25r64;
		zephyr,settings-partition = &settings_storage;
	};
};

&mx25r64 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		settings_storage: partition@ee000 {
			label = "settings";
			reg = <0x000ee000 0x00002000>;
		};
	};
};
