#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BLE_PROV_ENABLED
	bool "Enable BLE provisioning for WiFi credentials"
	depends on BT_WIFI_PROV
	default n
	help
	  Enable Bluetooth LE based WiFi provisioning.
	  WiFi credentials can be configured via nRF Wi-Fi Provisioner app.

if BLE_PROV_ENABLED

module = BLE_PROV
module-str = ble_prov
source "subsys/logging/Kconfig.template.log_config"

endif # BLE_PROV_ENABLED
