#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config WIFI_MODULE
	bool "WiFi STA Module"
	default y
	help
	  Enable WiFi station module with SMF state machine.
	  Uses conn_mgr API; publishes WIFI_CHAN on connect/disconnect.

if WIFI_MODULE

module = WIFI_MODULE
module-str = wifi_module
source "subsys/logging/Kconfig.template.log_config"

endif # WIFI_MODULE
